<nav>
  <%= link_to 'List', ingredient_types_path %>
  <%= link_to 'New', new_ingredient_type_path %>
</nav>

<h1>Ingredient Types</h1>

<ul>
  <% @ingredient_types.each do |it| %>
    <li>
      <b><%= link_to it, it %></b>:
      <% it.ingredients.each do |i| %>
        <%= link_to i,i %>
      <% end %>
    </li>
  <% end %>
</ul>

