<nav>
  <%= link_to 'List', ingredient_types_path %>
  <%= link_to 'Edit', edit_ingredient_type_path(@ingredient_type) %>
</nav>

<h1><%= @ingredient_type.name.pluralize %></h1>

<ul>
  <% @ingredient_type.ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient %></li>
  <% end %>
</ul>

