<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ingredient_type.name %>
</p>


<%= link_to 'Edit', edit_ingredient_type_path(@ingredient_type) %> |
<%= link_to 'Back', ingredient_types_path %>
